<h1>Apartment app</h1>

<% @apartments.each do |apartment| %>

<li><a href='/apartments/<%=apartment.id%>'><%= apartment.address %></a></li>

<% end %>

<a class="button" href="/tenants">All Tenants</a>

