<%# button to show all apartments
button to show all ten
button for new apartment
button for new ten
submit id for ten edit %>

<h1 style='color:white; background-color:black;'>
Welcome to the App!
</h1>

<h3 style='color:red; background-color:blue;'>
Choose from the following options:
</h3>
<a href='/apartments'>
    <button>All Apartments</button>
</a><br>
<a href='/tenants'>
    <button>All Tenants</button>
</a><br>
<a href='/apartments/new'>
    <button>New Apartment</button>
</a><br>
<a href='/tenants/new'>
    <button>New Tenants</button>
</a><br>
<form>
<p>Tenant ID: <input type='text' id="ten"></p>
<input type='submit'>
<%= %>
</form>
